#wrapper {
    display: flex;
    margin-top: 10vh;
}

.black-box {
    display: inline-block;
    background-color: var(--color-second);
    color: var(--color-third);
    width: 78vw;
    height: 80vh;
    position: relative;
}

#nav-bar {
    padding: 1rem;
}

#nav-bar li {
    &:hover {
        color: var(--color-main)
    }
}


.flex {
    display: flex;
    align-items: center;
    justify-content: left;
    gap: 3rem;
}

.flex li {
    font-weight: 700;
    font-size: 1rem;
}

.block-text {
    position: absolute;
    bottom: -16px;
}

h1 {
    color: var(--color-main);
    font-weight: 700;
    font-size: 8rem;
}

#name h2 {
    font-weight: 700;
    font-size: 3rem;
}


li {
    font-weight: 700;
    font-size: 2.5rem;
    cursor: pointer;

    &:hover {
        color: var(--color-main)
    }
}


.first-box {
    display: flex;
    align-items: bottom;
    justify-content: center;
    width: 40vw;
    height: 200px;
    padding-top: 4.5rem;
}

.second-box {
    display: flex;
    align-items: top;
    justify-content: center;
    background-color: var(--color-main);
    width: 40vw;
    height: 300px;
}

.second-box h2 {
    font-weight: 700;
    font-size: 2.9rem;
    padding-top: 1rem;
}

#job {
    text-align: center;
    align-items: center;
    color: var(--color-second);
    background-color: var(--color-main);
    width: 7vw;
    height: 80vh;
    position: relative;
}

#job h2 {
    transform: rotate(90deg);
    font-weight: 700;
    font-size: 2.7rem;
    width: 500px;
    position: absolute;
    top: 230px;
    left: -235px;
}


#options {
    display: flex;
    align-items: left;
    justify-content: baseline;
}


#options ul li {
    padding-top: 15px
}






/* mediaqueries */

@media(min-width: 48rem) {}

@media(min-width: 62.5rem) {}

@media(min-width: 87.5rem) {}