<div id="wrapper">
    <div class="black-box">

        <section id="nav-bar">
            <ul class="flex">
                <li>CONTACTO</li>
                <li>LINKEDIN</li>
                <li>GITHUB</li>
            </ul>
        </section>

        <div class="block-text">
            <section id="name">
                <div class="first-box">
                    <h1>ALICIA</h1>
                </div>
            </section>

            <section id="options">
                <div class="second-box">
                    <h2>ZAMORANO PANS</h2>
                </div>
                <ul>
                    <li>CV</li>
                    <li>WEB</li>
                    <li>DISEÑO</li>
                    <li>FOTOGRAFÍA</li>
                </ul>
            </section>
        </div>
    </div>
    <section id="job">
        <h2>FULL STACK DEVELOPER</h2>
    </section>
</div>